<div class="wrapper">
    <h1 nz-typography class="title">Сервис получения курсов валют</h1>

    <div class="header">
        <div class="header__currency">
            <span nz-typography class="header__text">Выберете валюту</span>
            <nz-select
                [ngModel]="selectedValue"
                (ngModelChange)="change($event)"
            >
                <ng-container
                    *ngFor="let option of currencies; trackBy: trackByFn"
                >
                    <nz-option
                        [nzValue]="option.code"
                        [nzLabel]="option.code"
                    ></nz-option>
                </ng-container>
            </nz-select>
        </div>

        <app-convert [currencies]="currencies"></app-convert>
    </div>

    <app-list [listOfData]="listOfData"></app-list>
</div>
