nz-select {
  width: 80px;
}

.wrapper {
    padding: 50px;
}

.title {
    margin-bottom: 50px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 840px) {
        grid-template-columns: 1fr;
    }
}

.header__text {
    flex-shrink: 0;
}

.header__currency {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}
